.content-container > .title {
    font-family: var(--font-main);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--color-light-black);
    letter-spacing: -0.045em;
}

.content-container > .text {
    font-family: var(--font-main);
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-dark-gray);
    line-height: 2.7rem;
    letter-spacing: -0.035em;
    margin: 3rem 0 6.6rem;
}

.content-container > .button {
    width: 216px;
    height: 68px;
    background-color: var(--color-light-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-bg);
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .content-container > .title {
        width: 15ch;
    }

    .content-container > .text {
        font-size: 2.4rem;
        line-height: 3.6rem;
        width: 26ch;
        margin: 3.6rem 0 6.4rem;
    }
}

@media screen and (min-width: 1440px) {
    .content-container > .title {
        font-size: 6.4rem;
        line-height: 9.5rem;
    }
}