.footer-container {
    text-align: center;
    margin-bottom: 2.4rem;
}

.footer-container > .copyright {
    font-family: var(--font-copyright);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-light-gray);
}

.footer-container > .copyright > .username {
    text-decoration: none;
    color: var(--color-light-gray);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .footer-container > .copyright {
        font-size: 1.6rem;
    }
}