.header-container {
    margin: 2.4rem 0 0 2rem;
}

.header-container > .error-message {
    font-family: var(--font-error-message);
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-light-black);
    letter-spacing: -2px;
    text-transform: uppercase;
}