.main-container {
    padding: 0 2.4rem;
    margin-bottom: 6.4rem;
}

@media screen and (min-width: 1024px) {
    .main-container {
        display: grid;
        grid-template-areas: 
            "banner content"
        ;
        align-items: center;
        justify-content: center;
        column-gap: 12rem;
        padding: 0 7.7rem;
    }
}