.text {
    font-family: var(--font-main);
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-dark-gray);
    line-height: 2.7rem;
    letter-spacing: -0.5px;
    margin: 3rem 0 6.6rem;
}